<!DOCTYPE html>
{% load static %}
<html>
  <head>
    <title>Portal Pracy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>

  </head>

  <body>
   <div class="navbar navbar-fixed-top">
    <div class="container-box">
        <div class="navbar-header">
            <a class="btn-menu" href="{% url 'index' %}">Portal Pracy</a>
            <a class="btn-menu" href="{% url 'home' %}">Oferty</a>
            {% if user.is_authenticated %}
                 <a class="btn-menu" href="{% url 'newoffer' %}">Dodaj ofertę</a>
            {% endif %}
            {% if user.is_authenticated %}
                    <a class="btn-menu" href="{% url 'logout' %}?next={{request.path}}">Wyloguj się: {{ user.get_username }}</a>
                    <a class="btn-menu" href="{% url 'info' %}">Profil</a>
                {% else %}
                    <a class="btn-menu" href="{% url 'login' %}?next={{request.path}}">Zaloguj się</a>
                {% endif %}
        </div>
            <!--<a class="navbar-brand" href="{% url 'signin' %}">Zarejestruj się</a>
            <a class="navbar-brand" href="{% url 'login' %}">Zaloguj się</a>-->

    </div>
    </div>

    <div class="jumbotron container-search">
         <div class="container ">
            <div class="container " align="center">
                <h2>Oferty pracy</h2>
                 <form id="searchform" action="{% url 'offer_search_list_view' %}" method="get" accept-charset="utf-8">
                     <input class="searchfield search-input" id="searchbox" name="q" type="text" placeholder="Stanowisko...">
                     <!--<button class="btn btn-warning btn-md" type="submit">Szukaj</button>-->
                     <button type="submit" class="btn-search">
                         <span class="glyphicon glyphicon-search"></span> Szukaj
                     </button>
                 </form>
            </div>

            {% if object_list %}
            <ul class="list-jobs-home">
                {% for Offer in  object_list %}
                <li>
                    <a href="{% url 'offer' Offer.pk %}" class="element-jobs-home">{{Offer}}</a>
                    <br>
                </li>
                {% endfor %}
            </ul>
            {% else %}
             <div class="container-lack-results">
                 <p>Brak ofert...</p>
                 <a href="{% url 'home' %}" class="btn-main">Powrót</a>
             </div>
            {% endif %}
         </div>
    </div>

  </body>
</html>