<!DOCTYPE html>
{% load staticfiles %}
<html>
<head>
    <title>Portal Pracy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}"/>
</head>
<body>
<div class="navbar navbar-fixed-top">
    <div class="container-box">
        <div class="navbar-header">
            <a class="btn-menu" href="{% url 'index' %}">Portal Pracy</a>
            <a class="btn-menu" href="{% url 'home' %}">Oferty</a>
            {% if user.is_authenticated %}
                 <a class="btn-menu" href="{% url 'newoffer' %}">Dodaj ofertę</a>
            {% endif %}
            {% if user.is_authenticated %}
                    <a class="btn-menu" href="{% url 'logout' %}?next={{request.path}}">Wyloguj się: {{ user.get_username }}</a>
                    <a class="btn-menu" href="{% url 'info' %}">Profil</a>
                {% else %}
                    <a class="btn-menu" href="{% url 'login' %}?next={{request.path}}">Zaloguj się</a>
                {% endif %}
        </div>
    </div>
</div>


<div class="jumbotron" ; content="width=device-width">
    <div class="main">
        <div class="container-main">
            <div>
                <p>Znajdź swoją wymarzoną pracę...</p>
                <a class="btn-main" href="{% url 'home' %}" class="">Przeglądaj oferty pracy</a>
            </div>

            {% if user.is_authenticated %}
            <div >
                <p >...bądź świetnego pracownika!</p>
                <a class="btn-main" href="{% url 'newoffer' %}" class="">Dodaj swoją ofertę pracy</a>
            </div>

            {% else %}
            <div >
                <p >...bądź świetnego pracownika!</p>
                <a class="btn-main" href="{% url 'signin' %}" class="">Szukasz pracowników? Zarejestruj się.</a>
            </div>
            {% endif %}

        </div>
    </div>

    <div class="container-list-jobs">
        <h2 class="jobs-header">Oferty znanych, światowych marek:</h2>
        <ul class="list-jobs">
        {% if object_list%}
            {% for Employer in  object_list %}
                <li class="element-jobs">
                    <a href="{% url 'offer_list_by_employer' Employer.pk %}" ><p class="lead">{{Employer}}</p></a>
                </li>
            {% endfor %}
        {% else %}
            <p class="lead">Brak pracodawców do wyświetlenia</p>
        {% endif %}
        </ul>
    </div>

</div>
</body>
</html>
